*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#121212;
    color:white;
    min-height:100vh;
}

header{
    background:#0f172a;
    padding:20px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0,.3);
}

h1{
    font-size:1.8rem;
}

main{
    padding:20px;
}

.menu{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin-bottom:30px;
}

.card{
    background:#1e293b;
    color:white;
    border:none;
    border-radius:18px;
    padding:30px 20px;
    font-size:1.1rem;
    cursor:pointer;
    transition:.2s;
}

.card:hover{
    background:#334155;
}

#contenido{
    background:#1e293b;
    border-radius:18px;
    padding:20px;
}

input{
    width:100%;
    padding:12px;
    margin-top:10px;
    margin-bottom:15px;
    border-radius:10px;
    border:none;
}

.btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px;
    border-radius:10px;
    width:100%;
    cursor:pointer;
}

.btn:hover{
    background:#1d4ed8;
}
